<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">>
<head th:replace="fragments/common :: head('Springboot를 이용한 웹페이지')">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/common :: menu('home')">
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Spring Boot Tutorial</h1>
        <p class="lead">Spring Boot를 이용해 웹페이지 제작</p>
        <p>Spring Security, JPA를 이용해 보안 설정과 데이터 다루기</p>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>


<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>
